 @media only screen and (max-width:992px){

.container{
    width: 90% !important;
}
#button{
    display: block !important;
}
.topBarMain{
    display: none !important;
}

button#button {
  float:right;
 margin-top:7px;
    border: none;
    font-size: 28px;
    cursor: pointer;

}

.logo {
    width: 20%;
    margin:0px;
}


.primaryMenu {
    padding: 12px 0px;
}

.menu {
    width: 95%;
    background: #106eea;
    position: absolute;
    top: 77px;
    left: -100%;
    height: 100vh;
    z-index:999;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.showMenu{
    left:0px !important;
}


ul.mainManuItem li {
    float: none;
   
}

ul.mainManuItem {
    float: left;
    width: 100%;
}

ul.mainManuItem li a {
    padding: 10px 15px;
    
    color: white !important;
    font-size: 16px;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
}
ul.mainManuItem li a:hover{

    background:black;
    color:white;
}
ul.subMenu {
    transform: scaleY(0);
    opacity: 1 !important;
    visibility: initial;
    background: #1c48ca;
    width: 100%;
    position: static;
    padding: 0px;
    border: navajowhite;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    display: none;
}
.show{
    transform: scaleY(1) !important;
    -webkit-transform: scaleY(1) !important;
    -moz-transform: scaleY(1) !important;
    -ms-transform: scaleY(1) !important;
    -o-transform: scaleY(1) !important;
    display: block !important;
}

.mainManuItem {
    background: #106eea;
}
ul.subMenu li a {
    padding-left: 39px;
}
ul.subMenu li a {
    padding-left: 39px;
}



ul.subMenu2 {
    transform: scaleY(0);
    opacity: 1;
    background: #413636;
padding: 0px;
    visibility: initial;
    position: static;
    width: 100%;
      left: 0px;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    display: none;
}
ul.showSubMENu2{
   transform: scaleY(1);
   display:block !important;
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -ms-transform: scaleY(1);
   -o-transform: scaleY(1);
   position:static;
  
}



ul.subMenu3 {
    transform: scaleY(0);
    opacity: 1;
    background: #8038aa;
    left: 0px;
    visibility: initial;
    position: static;
    width: 100%;
    padding: 0px;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    display: none;
}
ul.showSubMENu3{
   transform: scaleY(1);
   display:block !important;
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -ms-transform: scaleY(1);
   -o-transform: scaleY(1);
   position:static
}
ul.subMenu2 li a:hover{

    background:rgb(68, 96, 187);
    color:white;
}

#searchBtn{
    display: none;
 

}





 }
